## Function

input and print

In [22]:
def multiplication_table_8():
 """
    The purpose of this function is to display the first 20 values of the multiplication table for 8.
    input: none
    output: the multiplication tble for 8
    """   
n =  1
while n <= 20:
        v = n * 8
        print(n, 'x', 8, '=', v, sep=' ')
        n = n + 1

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
11 x 8 = 88
12 x 8 = 96
13 x 8 = 104
14 x 8 = 112
15 x 8 = 120
16 x 8 = 128
17 x 8 = 136
18 x 8 = 144
19 x 8 = 152
20 x 8 = 160

In [23]:
tableMultiplication(2) 
print("============================\n")
tableMultiplication(8) 
print("============================\n")
tableMultiplication(11)

NameError: name 'tableMultiplication' is not defined

In [24]:
ef multiplication_table(n):
    """
    The purpose of this function is to display the multiplication table for a given number `n`.
    Input: n (int) - The number for which the multiplication table will be generated.
    Output: The multiplication table for `n`.
    """
    print(f"Multiplication Table for {n}:")
    print("=" * 25)
    for i in range(1, 21):
        result = i * n
        print(f"{i:2} x {n:2} = {result:3}")
    print("=" * 25)

# Example usage:
multiplication_table(8)

SyntaxError: invalid syntax (4127631553.py, line 1)

In [17]:
def square(x):
    """
    This function calculates the square of a given number.
    input: The number  x to be square
    output: The square of the  input nuumber
    
    """

    return x**2

In [18]:
square(4)

16

In [19]:
def area_rectangle(length, width):
    """
    The function calculates the area of a rectangle.
    Input: Two parameters(length, width) of a rectangle.
    Output: Area of a rectangle
    
    """

    area = length * width
    print("The area of rectangle is:", area)

In [20]:
area_rectangle(8, 2)

The area of rectangle is: 16