

# Practical_1: Variables and Assignments

----

### Exercise 1:

Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

In [4]:
x=2
print(x)
type(x)
print(type(x))

2
<class 'int'>

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

In [8]:
is_valid = True
print(is_valid)
type(is_valid)
print(type(is_valid))

True
<class 'bool'>

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

In [11]:
name= "python programming"
print(name)

python programming

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

In [12]:
sum_result= 5 + 3
print(sum_result)

8

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

In [13]:
a,b,c =5 , 10 , 15
print(a,b,c)

5 10 15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

In [16]:
x=3
y=x
print(x)

3

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

In [21]:
gravity=float(9.8)
print(gravity)

9.8

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

In [27]:
country = "Rwanda"
print(country)
type(country)

Rwanda

str

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

In [28]:
age=25
age=26
print(age)

26

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

In [29]:
x= 20-7
print(x)

13

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

In [30]:
count=3
temperature=2.5
print(count,temperature)

3 2.5

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

In [33]:
is_completed= False
print(is_completed)

False

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

In [34]:
x=2
y=3
x,y=y,x
print(x,y)

3 2

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

In [36]:
complex_num= 3 + 4j
print(complex_num)

(3+4j)

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

In [39]:
x=7
x= str(x)
print(x)
type(x)

7

str

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

In [41]:
first_name =" billy "
last_name =" sucker"
print(first_name,last_name)

 billy   sucker

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

In [42]:
temperature = 35.5
print(temperature)

35.5

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

In [1]:
product = 8 * 6
print(product)

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

In [2]:
sentence ="i love code"
print(sentence)

i love code

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

In [6]:
int_value= int("50")
print(int_value)

50

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

In [7]:
quotient = 144/12
print(quotient)

12.0

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

In [8]:
remainder = 47 % 5
print(remainder)

2

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

In [9]:
is_student = True
print(is_student)

True

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

In [10]:
remainder = 45 % 4
print(remainder)

1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

In [11]:
pi = 3.14159
print(pi)

3.14159

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

---

In [12]:
length = 2
width = 3
Area = length * width
print(Area)

6

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

In [13]:
negative_value = -4
print(negative_value)

-4

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

---

In [14]:
greeting = " Hello, World "
print(greeting)

 Hello, World

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

In [16]:
population = "8 billion"
print(population)

8 billion

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

---

In [18]:
x = 2**8
print(x)

256

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

In [20]:
fruits = [ " orange , apple , avacado " ]
print(fruits)

[' orange , apple , avacado ']

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

In [21]:
coordinates = (12, 21, 10)
print(coordinates)

(12, 21, 10)

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

In [25]:
person = {
    "name": "vivivane ",
    "age": 30 
}
print(person)

{'name': 'vivivane ', 'age': 30}

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

In [27]:
num1 = 1.2 
num2 = 2.3
sum = num1 + num2
print(sum)

3.5

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

In [28]:
is_sunny = 10 > 5
print(is_sunny)

True

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

In [29]:
x= " me "
y= 23
x, y = [ " me ", 23 ]
print(x, y)

 me  23

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

In [30]:
value = 2
value = True
print(value)

True

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

In [31]:
is_weekend = False
print( is_weekend)

False

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

In [39]:
description = """ i am data analyst.
i like coding,
and as mathematician i prefer numbers."""
print(description)

 i am data analyst.
i like coding,
and as mathematician i prefer numbers.

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

---

In [41]:
result = abs(-25)
print(result)

25

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

In [42]:
floor_div_result = 100 // 6
print(floor_div_result)

16

###

Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

In [43]:
mixed_sum = 4.3 + 3
print(mixed_sum)

7.3

### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

---

In [44]:
a = 10
b = 15
is_a_greater = a > b
print(is_a_greater)

False

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

---

In [47]:

sentence = "he is a proffesor"
print(sentence)
character_count = len(sentence)
print(character_count)

he is a proffesor
17

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

---

In [48]:
division_result = 7 / 3
print(division_result)

2.3333333333333335

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

---

In [50]:
speed = "100 km/h"
print(speed)

100 km/h

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

---

In [55]:
x = 4 
y = 3*x + 5
print(y)

17

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [63]:
num1 = 10
num2 = 20
num3 = 30
average = (num1 + num2 + num3) / 3
print(average)

20.0